@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-size: 62, 5%;
}

@media (max-width: 768px) {
  .video-index {
    display: none;
  }
}
.menu {
  background-color: #45d1a6;
}
.menu ul {
  background-color: #45d1a6;
}
.menu ul a {
  color: #fff;
  font-size: 1rem;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.menu ul a:hover {
  background-color: #c738a3;
}

/* Home */
.fondo-no-header {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.fondo-no-header .video-index {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 95%;
  z-index: -1;
}
.fondo-no-header .home-container {
  width: 100%;
}
.fondo-no-header .home-container .main-title {
  color: white;
  margin-top: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.5rem;
  text-align: center;
}
.fondo-no-header .home-container .titulo {
  color: grey;
  margin-top: 2rem;
  font-family: "Staatliches", cursive;
  font-size: 5.5rem;
  text-align: center;
}
.fondo-no-header .home-container .div-container-text {
  margin-top: 4rem;
  margin-bottom: 6rem;
}
.fondo-no-header .home-container .p-home {
  color: #117750;
  font-family: "Staatliches", cursive;
  font-size: 1.8rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.fondo-no-header .home-container .button {
  margin-left: 1rem;
}
.fondo-no-header .home-container .button:hover {
  background-color: #117750;
  color: white;
  text-decoration: underline;
  transform: scale(1.25);
}

/* Sección Torneo*/
.title {
  color: grey;
  margin-top: 2rem;
  font-family: "Staatliches", cursive;
  font-size: 5.5rem;
  text-align: center;
}

.circles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-purple {
  background-color: #c738a3;
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  margin: 0.2rem;
}

.circle-green {
  background-color: #45d1a6;
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  margin: 0.2rem;
}

.card-group {
  margin-top: 2rem;
}
.card-group .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card-group .card-text {
  font-size: 1rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.table {
  margin-top: 2rem;
}

/* Sección Entrenamientos */
.titulo {
  color: grey;
  margin-top: 2rem;
  font-family: "Staatliches", cursive;
  font-size: 5.5rem;
  text-align: center;
}

.titulo-seccion {
  color: white;
  background: #777676;
  margin: 4rem;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 1.5rem;
  text-align: left;
}

.texto-secciones {
  color: #504e4e;
  margin: 4rem;
  font-family: sans-serif;
  font-size: 1rem;
}

.circles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-purple {
  background-color: #c738a3;
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  margin: 0.2rem;
}

.circle-green {
  background-color: #45d1a6;
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  margin: 0.2rem;
}

.carousel {
  width: 100%;
  margin-bottom: 3.5rem;
  margin-left: 1rem;
}

.texto-secciones-2 ul {
  color: white;
  background-color: #45d1a6;
  font-family: sans-serif;
  font-size: 1.02rem;
}
.texto-secciones-2 ul li {
  color: white;
  background-color: #45d1a6;
  font-family: sans-serif;
  font-size: 1.02rem;
}

.texto-secciones-3 ul {
  color: white;
  background-color: #c738a3;
  font-family: sans-serif;
  font-size: 1.02rem;
}
.texto-secciones-3 ul li {
  color: white;
  background-color: #c738a3;
  font-family: sans-serif;
  font-size: 1.02rem;
}

/* Sede Colegiales */
.titulo {
  color: grey;
  margin-top: 2rem;
  font-family: "Staatliches", cursive;
  font-size: 5.5rem;
  text-align: center;
}

.circles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-purple {
  background-color: #c738a3;
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  margin: 0.2rem;
}

.circle-green {
  background-color: #45d1a6;
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  margin: 0.2rem;
}

.map {
  width: 50%;
  margin-bottom: 4rem;
}

.titulo-seccion {
  color: white;
  background: #777676;
  margin: 4rem;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 1.5rem;
  text-align: left;
}

.texto-secciones {
  color: #504e4e;
  margin: 4rem;
  font-family: sans-serif;
  font-size: 1rem;
}

/* Sede Belgrano */
.titulo {
  color: grey;
  margin-top: 2rem;
  font-family: "Staatliches", cursive;
  font-size: 5.5rem;
  text-align: center;
}

.circles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-purple {
  background-color: #c738a3;
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  margin: 0.2rem;
}

.circle-green {
  background-color: #45d1a6;
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  margin: 0.2rem;
}

.map {
  width: 50%;
  margin-bottom: 4rem;
  margin-left: 4rem;
}

.titulo-seccion {
  color: white;
  background: #777676;
  margin: 4rem;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 1.5rem;
  text-align: left;
}

.texto-secciones {
  color: #504e4e;
  margin: 4rem;
  font-family: sans-serif;
  font-size: 1rem;
}

.circles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-purple {
  background-color: #c738a3;
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  margin: 0.2rem;
}

.circle-green {
  background-color: #45d1a6;
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  margin: 0.2rem;
}

/* Sección Contacto*/
.fondo-contacto {
  background-image: url(../images/fondo-contacto.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  opacity: 0.8;
}
.fondo-contacto .titulo {
  color: grey;
  margin-top: 2rem;
  font-family: "Staatliches", cursive;
  font-size: 5.5rem;
  text-align: center;
}
.fondo-contacto .circles {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fondo-contacto .circle-purple {
  background-color: #c738a3;
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  margin: 0.2rem;
}
.fondo-contacto .circle-green {
  background-color: #45d1a6;
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  margin: 0.2rem;
}
.fondo-contacto .form {
  color: white;
  font-family: sans-serif;
  margin-bottom: 4rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Footer*/
footer {
  background-color: darkgrey;
  width: 100%;
}
footer .container-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 70rem;
  margin: auto;
}
footer .box-footer {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
}
footer .box-footer h6 {
  font-family: "Staatliches", cursive;
  margin-bottom: 0.1rem;
  color: #343434;
  font-weight: 700;
}
footer .box-footer a {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  color: #7a7a7a;
  font-weight: 600;
}
footer .box-footer a:hover {
  opacity: 0.8;
}
footer .box-footer a .fab {
  font-size: 2rem;
}

.titulo {
  color: grey;
  margin-top: 2rem;
  font-family: "Staatliches", cursive;
  font-size: 5.5rem;
  text-align: center;
}

.circles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-purple {
  background-color: #c738a3;
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  margin: 0.2rem;
}

.circle-green {
  background-color: #45d1a6;
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  margin: 0.2rem;
}

.titulo-seccion {
  color: white;
  background: #777676;
  margin: 4rem;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 1.5rem;
  text-align: left;
}

.page-404 {
  background-image: url(../images/error-404.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

.page-404-contain {
  margin-top: 2rem;
  margin-left: 2rem;
  color: white;
  font-family: "Staatliches", cursive;
}

@keyframes pelota {
  0% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.pelota {
  width: 4.2rem;
  height: 4.2rem;
  position: relative;
  left: 2rem;
  top: 0.2rem;
  animation-name: pelota;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

/*# sourceMappingURL=style.css.map */
