@mixin button-style {
    
    background-color: $boton;
    color: white;
    text-decoration: underline;    
          
}

@mixin titles-pages {
        color: grey;
        margin-top: 5px;
        font-family: 'Staatliches', cursive;
        font-size: 70px;
        text-align: center;
        
}

@mixin main-title {
    color: white;
    margin-top: 5px;   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    
}

@mixin titulo-seccion {
    color:white;
    background:rgb(119, 118, 118);
    margin: $margin;
    text-transform: uppercase;   
    font-family:sans-serif;
    font-size: map-get($fonts, forms);  
    text-align: left;
    
}


@mixin texto-secciones {
    color: rgb(80, 78, 78);
    margin: $margin;
    font-family:sans-serif;
    font-size: map-get($fonts, navbar);   
    }