$verde-logo: #45d1a6;
$violeta-logo: #c738a3;
$boton: rgb(17, 119, 80);
$margin: 4rem;
$button-transform: true;
$fonts: (
cards: 1rem,
section: 1.2rem,
navbar: 1rem,
forms: 2rem,
paragraph: 1.8rem,
)


