.page-404 {
background-image: url(../images/error-404.png);  
background-repeat: no-repeat;
background-size:contain;
background-attachment: fixed;
}

.page-404-contain {
    margin-top: 20px;
    margin-left: 20px;    
    color: white;
    font-family: "Staatliches", cursive;
    font-size: 30px;
}