/* Sección Contacto*/

.fondo-contacto {
    background-image: url(../images/fondo-contacto.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden; 
    opacity: 0.8;

.titulo {
    @include titles-pages
}

.circles {
    @include circles
}

.circle-purple {
    @include circle-purple
}
.circle-green {
    @include circle-green
}

.form {
    color: white;
    font-family: sans-serif;
    margin-bottom: $margin;  
    font-size: map-get($fonts, cards);
    display: flex;
    justify-content: center;
    align-items: center;
    
    }

}