/* Sección Contacto*/

.form-contacto {
@include main-title
}

.form {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: $margin;  
    font-size: map-get($fonts, cards);
    display: flex;
    justify-content: center;
    align-items: center;
    
    }