/* Sección Entrenamientos */

    .titulo {
        @include titles-pages
    }
    

    .titulo-seccion {
        @include titulo-seccion
    }

    .texto-secciones {
        @include texto-secciones
    }
    
    .circles {
        @include circles
    }

    .circle-purple {
        @include circle-purple
    }
    .circle-green {
        @include circle-green
    }

    .carousel {
    width: 100%;
    margin-bottom: 35px;
    margin-left: 10px;
    
    }

    .texto-secciones-2 {
    color: white;
    background-color: $verde-logo;
    font-family:sans-serif;
    font-size: 10px;
    
    
    }

    .texto-secciones-3 {
        color: white;
        background-color: $violeta-logo;
        font-family:sans-serif;
        font-size: 10px;
        
        
        }

 