
/*Footer*/

footer {   
    
    background-color: darkgrey;
    width: 100%;

.container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 70rem;
    margin: auto;
    
}

.box-footer {
display: flex;
flex-direction: column;
padding: 0.8rem;

h6 {
    font-family: 'Staatliches', cursive;
    margin-bottom: 0.1rem;
    color: #343434;
    font-weight: 700;

}

a {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    color: #7a7a7a;
    font-weight: 600;

&:hover {
    opacity: 0.8;
}

.fab {
 font-size: map-get($fonts, forms);  
}
}

}

}