

footer {   
    
    background-color:darkgrey;
    width: 100%;

.container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 700px;
    margin: auto;
    
}

.box-footer {
display: flex;
flex-direction: column;
padding: 20px;

h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2px;
    color: #343434;
    font-weight: 700;

}

a {
    margin-top: 5px;
    font-size: 14px;
    color: #7a7a7a;
    font-weight: 600;

&:hover {
    opacity: 0.8;
}

.fab {
 font-size: 20px;   
}
}

}


    


}