

/* Home */

.fondo-no-header {
    position: relative;
    width: 100%;    
    overflow: hidden; 
   

    .video-index {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 95%;
    z-index: -1;
    }   

    .home-container {
        width: 100%;

    
        .main-title {
        @include main-title
        }
    
        .titulo {
         @include titles-pages
         }
    
        .div-container-text {
        margin-top: 40px;
        margin-bottom: 10px;     
        }

        .p-home {
        color:$boton;        
        font-family: 'Staatliches', cursive;
        font-size: map-get($fonts, paragraph);
        margin-left: 10px;
        margin-bottom: 2px;
        margin-top: 15px;           
        }

        .button {
        margin-left: 10px;   
        }

        .button:hover {
        @include button-style;        
        @if $button-transform==true {
            transform: scale(1.25);          
        }
        
        @else {
            transform: scale(1);     
        } 
        }
    }

} 

  


    