.menu {
    background-color: $verde-logo;
    

    ul{
        background-color: $verde-logo;
      
        a {
           
            color:#fff;     
            font-size: map-get($fonts, navbar);           
            font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;            
            text-transform:uppercase;           
            &:hover {
                background-color: $violeta-logo;
                }     
        }
    
}
}