/* Sede Belgrano */

.titulo {
    @include titles-pages
}

.circles {
    @include circles
}

.circle-purple {
    @include circle-purple
}
.circle-green {
    @include circle-green
}
.map {
width: 50%;
margin-bottom: $margin;
margin-left: $margin;
}
 
.titulo-seccion {
    @include titulo-seccion
}

.texto-secciones {
    @include texto-secciones
}

